.Gif {
  border: 1px solid #eee;
  border-radius: 6px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 2rem;
  text-decoration: none;
  width: 80%;
}

.Gif h4 {
  margin: 0;
}

.Gif img {
  margin-top: 1rem;
  object-fit: contain;
}

.loading {
  font-size: 40px;
}
