.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 1rem;
}

.App-title a {
  color: #fff;
  text-decoration: none;
}

.App-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.App-nav a {
  color: #fff;
  font-size: 2rem;
}
